<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Capfront/IdeaProjects/RestAssuredProject/src/test/java/hotelbooking/BookingTest.java">
        <classes>
            <class name="hotelbooking.BookingTest">
                <methods>
                    <include name="createBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>